.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.navbar .active {
  color: #0c1f62;
  font-weight: 600;
  position: relative;
}


.navbar a:hover {
  color: #0c1f62;
}

.navbar-brand a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
}

.navbar-brand a:hover {
  opacity: 0.85;
}

.nav-link a {
  padding: 6px 10px;
  display: inline-block;
}
